{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    {{ include('partials/_navbar.html.twig') }}
    <main>

        <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasLogin" aria-labelledby="offcanvasLoginLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasLoginLabel">Connectez-vous</h5>

                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>

            <!-- Formulaire de connexion -->
            <div class="offcanvas-body d-flex flex-column">

                {# TODO: Réussir à authentifier le User ici #}
                {#<form class="custom-form" method="post">

                        <div class="mb-3">
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com" required>
                                <label for="email" class="form-label">Email</label>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
                                <label for="password" class="form-label">Mot de passe</label>
                            </div>
                        </div>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        <div class="col-12">
                            <div class="d-grid">
                                <button class="form-control" type="submit">Se connecter</button>
                            </div>
                        </div>
                </form>#}

                {% if app.user %}
                    <div class="offcanvas-footer">
                        <a href="{{ path('app_logout') }}" class="btn custom-btn custom-border-btn">Se déconnecter</a>
                    </div>
                {% else %}
                    <div class="offcanvas-footer">
                        <a href="{{ path('app_login') }}" class="btn custom-btn">Se connecter</a>
                    </div>
                {% endif %}

            </div>

            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#3D405B" fill-opacity="1" d="M0,224L34.3,192C68.6,160,137,96,206,90.7C274.3,85,343,139,411,144C480,149,549,107,617,122.7C685.7,139,754,213,823,240C891.4,267,960,245,1029,224C1097.1,203,1166,181,1234,160C1302.9,139,1371,117,1406,106.7L1440,96L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z"></path></svg>
        </div>

        <!-- Section 1: Accueil -->
        <section class="hero-section d-flex justify-content-center align-items-center" id="section_1">

            <div class="section-overlay"></div>

            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#3D405B" fill-opacity="1" d="M0,224L34.3,192C68.6,160,137,96,206,90.7C274.3,85,343,139,411,144C480,149,549,107,617,122.7C685.7,139,754,213,823,240C891.4,267,960,245,1029,224C1097.1,203,1166,181,1234,160C1302.9,139,1371,117,1406,106.7L1440,96L1440,0L1405.7,0C1371.4,0,1303,0,1234,0C1165.7,0,1097,0,1029,0C960,0,891,0,823,0C754.3,0,686,0,617,0C548.6,0,480,0,411,0C342.9,0,274,0,206,0C137.1,0,69,0,34,0L0,0Z"></path></svg>

            <div class="container">
                <div class="row">

                    <div class="col-lg-6 col-12 mb-5 mb-lg-0">
                        <h2 class="text-white">Générateur de QR Codes</h2>

                        <h1 class="cd-headline rotate-1 text-white mb-4 pb-2">
                            <span>Une application</span>
                            <span class="cd-words-wrapper">
                                <b class="is-visible">Innovante</b>
                                <b>Intuitive</b>
                                <b>Efficace</b>
                            </span>
                        </h1>

                        <div class="custom-btn-group">
                            <a href="#section_2" class="btn custom-btn smoothscroll me-3">En savoir plus</a>

                            <a href="#section_4" class="link smoothscroll">Adhérer</a>
                        </div>
                    </div>

                    <div class="col-lg-6 col-12">
                        <div class="ratio ratio-16x9">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/66U1UK1x6ok" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                    </div>

                </div>
            </div>

            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ffffff" fill-opacity="1" d="M0,224L34.3,192C68.6,160,137,96,206,90.7C274.3,85,343,139,411,144C480,149,549,107,617,122.7C685.7,139,754,213,823,240C891.4,267,960,245,1029,224C1097.1,203,1166,181,1234,160C1302.9,139,1371,117,1406,106.7L1440,96L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z"></path></svg>
        </section>

        <!-- Section 2: A propos -->
        <section class="about-section section-padding" id="section_2">
            <div class="container">
                <div class="row">

                    <div class="col-lg-12 col-12 text-center">
                        <h2 class="mb-lg-5 mb-4">Qui suis-je?</h2>
                    </div>

                    <div class="col-lg-5 col-12 me-auto mb-4 mb-lg-0">
                        <h3 class="mb-3">À propos de moi</h3>
                        <p>Je m'appelle Pascal, alias Papoel, et je travaille pour EDF à la centrale nucléaire de Penly. Depuis décembre 2021, je suis développeur web spécialisé en Symfony. J'ai une expertise de {{ "now" | date("Y") - 2008 }} ans dans le nucléaire.</p>
                        <p>J'ai développé un site pour l'APE de l'école Pasteur de Rousies et une application pour les personnes en deuil avec chiffrement des messages.</p>
                        <p>Je souhaite développer mon réseau tout en restant chez EDF.</p>
                    </div>


                    <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0 mb-md-0">
                        <div class="member-block">
                            <div class="member-block-image-wrap">
                                <img style="background-color: rgba(61,64,91,0.2)" src="{{ asset('images/qrcode-perso.jpg') }}" class="member-block-image img-fluid" alt="">

                                <ul class="social-icon">
                                    <li class="social-icon-item">
                                        <a target="_blank" href="https://www.linkedin.com/in/pascal-briffard-48342ba9/" class="social-icon-link bi-linkedin"></a>
                                    </li>
                                    <li class="social-icon-item">
                                        <a target="_blank" href="https://www.github.com/Papoel" class="social-icon-link bi-github"></a>
                                    </li>
                                </ul>
                            </div>

                            <div class="member-block-info d-flex align-items-center">
                                <h4>Papoel</h4>

                                <p class="ms-auto">Développeur</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!-- Section x: Lien vers mes réseaux -->
        <section class="section-bg-image">
            <svg viewBox="0 0 1265 144" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="rgba(255, 255, 255, 1)" d="M 0 40 C 164 40 164 20 328 20 L 328 20 L 328 0 L 0 0 Z" stroke-width="0"></path> <path fill="rgba(255, 255, 255, 1)" d="M 327 20 C 445.5 20 445.5 89 564 89 L 564 89 L 564 0 L 327 0 Z" stroke-width="0"></path> <path fill="rgba(255, 255, 255, 1)" d="M 563 89 C 724.5 89 724.5 48 886 48 L 886 48 L 886 0 L 563 0 Z" stroke-width="0"></path><path fill="rgba(255, 255, 255, 1)" d="M 885 48 C 1006.5 48 1006.5 67 1128 67 L 1128 67 L 1128 0 L 885 0 Z" stroke-width="0"></path><path fill="rgba(255, 255, 255, 1)" d="M 1127 67 C 1196 67 1196 0 1265 0 L 1265 0 L 1265 0 L 1127 0 Z" stroke-width="0"></path></svg>

            <div class="container">
                <div class="row">

                    <div class="col-lg-6 col-12">
                        <div class="section-bg-image-block">
                            <h2 class="mb-lg-3">Suivez-moi</h2>
                            <p>Restez informé sur mes dernières mises à jour et projets en me suivant sur les réseaux sociaux.</p>
                            <ul class="social-icons-list">
                                <li>
                                    <a target="_blank" href="https://www.linkedin.com/in/pascal-briffard-48342ba9/" class="bi-linkedin">
                                       <span class="ms-1">Linked In</span>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://www.github.com/Papoel" class="bi-github">
                                       <span class="ms-1">Github</span>
                                    </a>
                                </li>
                                <!-- Ajoutez d'autres réseaux sociaux au besoin -->
                            </ul>
                        </div>

                    </div>

                </div>
            </div>

            <svg viewBox="0 0 1265 144" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="rgba(255, 255, 255, 1)" d="M 0 40 C 164 40 164 20 328 20 L 328 20 L 328 0 L 0 0 Z" stroke-width="0"></path> <path fill="rgba(255, 255, 255, 1)" d="M 327 20 C 445.5 20 445.5 89 564 89 L 564 89 L 564 0 L 327 0 Z" stroke-width="0"></path> <path fill="rgba(255, 255, 255, 1)" d="M 563 89 C 724.5 89 724.5 48 886 48 L 886 48 L 886 0 L 563 0 Z" stroke-width="0"></path><path fill="rgba(255, 255, 255, 1)" d="M 885 48 C 1006.5 48 1006.5 67 1128 67 L 1128 67 L 1128 0 L 885 0 Z" stroke-width="0"></path><path fill="rgba(255, 255, 255, 1)" d="M 1127 67 C 1196 67 1196 0 1265 0 L 1265 0 L 1265 0 L 1127 0 Z" stroke-width="0"></path></svg>
        </section>

        <!-- Section 3: Projets -->
        <section class="events-section section-bg section-padding" id="section_3">
            <div class="container">
                <div class="row">

                    <div class="col-lg-12 col-12">
                        <h2 class="mb-lg-3">Projets</h2>
                    </div>

                    <div class="row custom-block mb-3">
                        <div class="col-lg-2 col-md-4 col-12 order-2 order-md-0 order-lg-0">
                            <div class="custom-block-date-wrap d-flex d-lg-block d-md-block align-items-center mt-3 mt-lg-0 mt-md-0">
                                <h6 class="custom-block-date mb-lg-1 mb-0 me-3 me-lg-0 me-md-0">01</h6>

                                <strong class="text-white">Mai 2024</strong>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0">
                            <div class="custom-block-image-wrap">
                                <a target="_blank" href="https://www.papoel.fr">
                                    <img src="{{ asset('images/Eterno.jpg') }}" class="custom-block-image img-fluid" alt="">
                                    <i class="custom-block-icon bi-link"></i>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12 order-3 order-lg-0">
                            <div class="custom-block-info mt-2 mt-lg-0">
                                <a class="events-title mb-3">Projet privé</a>
                                <p class="mb-0">
                                    Eterno est une application de messagerie spécialement conçue pour honorer et préserver
                                    la mémoire de vos êtres chers disparus. Avec une interface intuitive et élégante,
                                    Eterno vous permet de partager des messages, des souvenirs et des émotions dans un
                                    espace respectueux et apaisant. Notre application utilise des technologies de pointe
                                    pour garantir la confidentialité et la sécurité de vos échanges, vous offrant ainsi un
                                    lieu où vous pouvez vous souvenir et commémorer en toute sérénité.
                                </p>

                                <div class="d-flex flex-wrap border-top mt-4 pt-3">

                                    <div class="mb-4 mb-lg-0">
                                        <div class="d-flex flex-wrap align-items-center mb-1">
                                            <span class="custom-block-span">Réalisation :</span>

                                            <p class="mb-0">Mars 2024</p>
                                        </div>

                                        <div class="d-flex flex-wrap align-items-center">
                                            <span class="custom-block-span">Durée:</span>

                                            <p class="mb-0">3 mois</p>
                                        </div>
                                    </div>

                                    <div class="d-flex align-items-center ms-lg-auto">
                                        <a href="https://www.github.com/Papoel/Eterno" class="btn custom-btn" target="_blank">Code Source</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row custom-block custom-block-bg">
                        <div class="col-lg-2 col-md-4 col-12 order-2 order-md-0 order-lg-0">
                            <div class="custom-block-date-wrap d-flex d-lg-block d-md-block align-items-center mt-3 mt-lg-0 mt-md-0">
                                <h6 class="custom-block-date mb-lg-1 mb-0 me-3 me-lg-0 me-md-0">01</h6>

                                <strong class="text-white">Février 2023</strong>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0">
                            <div class="custom-block-image-wrap">
                                <a href="#">
                                    <img src="{{ asset('images/aperp.avif') }}" class="custom-block-image img-fluid" alt="">

                                    <i class="custom-block-icon bi-link"></i>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12 order-3 order-lg-0">
                            <div class="custom-block-info mt-2 mt-lg-0">
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="#" class="events-title mb-3">APERP</a>
                                    <span class="bg-danger badge rounded-pill rounded-5 mb-3 px-3 py-2" style="letter-spacing: 2px">INACTIF</span>
                                </div>

                                <p class="mb-0">
                                    Cette plateforme intuitive permet aux membres de se connecter et de réserver des
                                    créneaux pour préparer et organiser des événements scolaires.
                                    Les membres peuvent également accéder à un espace e-commerce pour vendre des articles
                                    au profit de l'association. Les parents peuvent inscrire leurs enfants aux événements
                                    directement via l'application. Grâce à l'intégration de Stripe pour les paiements en
                                    ligne il est très simple pour les parents de réserver en ligne.
                                </p>

                                <div class="d-flex flex-wrap border-top mt-4 pt-3">

                                    <div class="mb-4 mb-lg-0">
                                        <div class="d-flex flex-wrap align-items-center mb-1">
                                            <span class="custom-block-span">Réalisation:</span>

                                            <p class="mb-0">Janvier 2023</p>
                                        </div>

                                        <div class="d-flex flex-wrap align-items-center">
                                            <span class="custom-block-span">Durée:</span>

                                            <p class="mb-0">5 mois</p>
                                        </div>
                                    </div>

                                    <div class="d-flex align-items-center ms-lg-auto">
                                        <a href="https://www.github.com/Papoel/Pasteur" target="_blank" class="btn custom-btn">Code Source</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!-- Section 3: Adhésion -->
        <section class="membership-section section-padding" id="section_4">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-12 text-center mx-auto mb-lg-5 mb-4">
                        <h2><span>Étude de marché</span> pour notre application de QR Code</h2>
                    </div>

                    <div class="col-lg-6 col-12 mb-3 mb-lg-0">
                        <h4 class="mb-4 pb-lg-2">Besoin d'une gestion efficace de QR Code ?</h4>

                        <p>Notre application propose diverses fonctionnalités pour gérer facilement les QR Codes dans votre entreprise :</p>

                        <ul>
                            <li><i class="bi-check-circle-fill text-success"></i> Création rapide de QR Codes personnalisés</li>
                            {#<li><i class="bi-check-circle-fill text-success"></i> Suivi des scans et analyses statistiques</li>#}
                            <li><i class="bi-check-circle-fill text-success"></i> Intégration facile avec vos systèmes existants</li>
                            <li><i class="bi-check-circle-fill text-success"></i> Sécurité renforcée avec des options de chiffrement</li>
                        </ul>

                        <p>Êtes-vous intéressé par une solution de gestion de QR Code efficace et sécurisée ? Remplissez le formulaire ci-dessous pour exprimer votre intérêt :</p>
                    </div>

                    <div class="col-lg-5 col-12 mx-auto">
                        <form action="#" method="post" class="custom-form membership-form shadow-lg" role="form">
                            <h4 class="text-white mb-4">Exprimez votre intérêt</h4>

                            <div class="form-floating mb-3">
                                <input type="text" name="full-name" id="full-name" class="form-control" placeholder="Nom complet" required="">
                                <label for="full-name">Nom complet</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="email" name="email" id="email" pattern="[^ @]*@[^ @]*" class="form-control" placeholder="Adresse email" required="">
                                <label for="email">Adresse email</label>
                            </div>

                            <div class="form-floating mb-3">
                                <textarea class="form-control" id="message" name="message" placeholder="Décrivez vos besoins"></textarea>
                                <label for="message">Commentaires</label>
                            </div>

                            <button type="submit" class="form-control btn btn-primary" title="Fonctionnalité prochainement disponible" disabled>Soumettre</button>
                        </form>
                    </div>

                </div>
            </div>
        </section>

        <!-- Section 4: Contact -->
        <section class="contact-section section-padding" id="section_5">
            <div class="container">
                <div class="row">

                    <div class="col-lg-5 col-12">
                        <form action="#" method="post" class="custom-form contact-form" role="form">
                            <h2 class="mb-4 pb-2">Contactez Papoel</h2>

                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-12">
                                    <div class="form-floating">
                                        <input type="text" name="full-name" id="full-name" class="form-control" placeholder="Nom complet" required="">

                                        <label for="floatingInput">Nom complet</label>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-12">
                                    <div class="form-floating">
                                        <input type="email" name="email" id="email" pattern="[^ @]*@[^ @]*" class="form-control" placeholder="email@exemple.com" required="">

                                        <label for="floatingInput">Email</label>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-12">
                                    <div class="form-floating">
                                        <textarea class="form-control" id="message" name="message" placeholder="Describe message here"></textarea>

                                        <label for="floatingTextarea">Message</label>
                                    </div>

                                    <button type="submit" class="form-control">Envoyer le message</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="col-lg-6 col-12">
                        <div class="contact-info mt-5">
                            <div class="contact-info-item">
                                <div class="contact-info-body">
                                    <strong>Dieppe, France</strong>

                                    <p class="mt-2 mb-1">
                                        <a href="tel: 0766345110" class="contact-link">
                                            (+33) 7 66 34 51 10
                                        </a>
                                    </p>

                                    <p class="mb-0">
                                        <a target="_blank" href="mailto:bridevproject@gmail.com" class="contact-link">
                                            bridevproject@gmail.com
                                        </a>
                                    </p>
                                </div>

                                <div class="contact-info-footer">
                                    <a href="https://maps.app.goo.gl/m3AbM7rSb4fupcpx9" target="_blank">Voir sur Google Maps</a>
                                </div>
                            </div>

                            <img src="{{ asset('images/theme/WorldMap.svg') }}" class="img-fluid" alt="">
                        </div>
                    </div>

                </div>
            </div>
        </section>

    </main>

    {{ include('partials/_footer.html.twig') }}

{% endblock %}
